:root{
    --base: white;
    --primario: rgb(255, 208, 0);
    --secundario: rgb(202, 131, 0);
    --fuerte: yellow;
}

body{
    text-align: center;
    width: 80%;
    height: 100%;
    font-family: sans-serif;
    margin: 0px auto;
    background-color: var(--primario);
    
}
/* NAV */
.regla{
    margin: 30px 10px 0px 0px;
}
.nav{
    width: 800px;
    margin: auto;
}
a{
    cursor: pointer;
    color: black;
}

ul{
    list-style: none;
}
li{
    border: 1px solid #707070;
    padding: 15px;
    margin: 0px 5px 0px 0px;
    float: right;
    background-color: var(--base);
    border-radius: 15px 15px 0px 0px;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 800px;
    height: 200px;
    background-color: var(--base);
    margin: 68px auto 0px;
    border-radius: 20px 20px 0px 0px;
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
}
.izq{
    width: 40%;
    
}
.der{
    width: 60%;
}

/* MAIN */
.main{
    width: 800px;
    height: 250px;
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
    background-image: url("/img/bk1.jpg");
    background-position: center;
    margin: auto;
    padding-top: 20px;
}
.uno{
    border-radius: 10px;
    float: left;
    width: 30%;
    height: 230px;
    padding: 10px;
    background-color: var(--base);
    box-sizing: border-box;
    margin-left: 15px;  
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
}
.dos{
    border-radius: 10px;
    padding: 10px;
    float: left;
    margin-left: 3%;
    background-color: var(--base);
    width: 30%;
    height: 230px;
    box-sizing: border-box;
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
}
.tres{
    border-radius: 10px;
    padding: 10px;
    float: right;
    width: 30%;
    height: 230px;
    margin-right: 15px;
    background-color: var(--base);
    box-sizing: border-box;
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
}

/* INFO CONTAINER */
.info{
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
    border-radius: 10px;
    padding: 10px;
    width: 773px;
    height: 230px;
    margin: auto;
    background-color: var(--base);
    box-sizing: border-box;
}

/* FOOTER */
footer{
    border-bottom: solid 4px var(--base);
    border-right: solid 4px var(--base);
    border-left: solid 4px var(--base);
    border-radius: 0px 0px 20px 20px;
    width: 800px;
    height: 50px;
    padding-top: 5px;
    background-color: var(--secundario);
    margin: 0px auto;
}
footer p{
    color: var(--base);
}


/* IMAGENES */
.logo{
    width: 200px;
    height: auto;
    margin-top: 30px;
    margin-bottom: -20px;
}
.cat{
    margin: 20px 20px 0px 0px;
    width: 450px;
    height: auto;
}

/* LOGIN */
.abrir{
    margin-top: 50px;
    border: solid 2px var(--secundario);
    padding: 5px 20px;
    border-radius: 10px;
    background: var(--secundario);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffe600, var(--secundario));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe600, var(--secundario)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    cursor: pointer;
}
.modal{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: none;
}
.login{
    position: absolute;
    left: 40%;
    top: 20%;
    width: 300px;
    height: 300px;
    background: #ffe600;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffe600, var(--secundario));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffe600, var(--secundario)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
    border: 1px solid rgb(189, 176, 0);
    
}
.close{    
    right:  -130px;
    position: relative;  
}
.x{
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.form-log{
    width: 200px;
    margin: auto;
}
input{
    border-radius: 5px;
    border: none;
    width: 170px;
    height: 20px;
}
.submit{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
}

/* CONTACTO */
.contacto{
    display: flex;
    width: 800px;
    height: 270px;
    border-left: 4px solid var(--base);
    border-right: 4px solid var(--base);
    background-image: url("/img/bk1.jpg");
    background-position: center;
    margin: auto; 
}
.contacto form input{
    margin-top: 10px;
    text-align: center;
}

.info-cont{
    border-radius: 10px;
    border: 2px solid var(--base);
    background-color: var(--secundario);
    width: 300px;
    height: 190px;
    margin: auto;

    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
    border: 1px solid rgb(189, 176, 0);
}
.info-cont p{
    color: white;
    font-size: 20px;
}
form{
    border: 2px solid var(--base);
    border-radius: 10px;
    background-color: var(--secundario);
    margin: auto;
    padding-top: 5px;
    height: 190px;
    width: 400px;
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
    border: 1px solid rgb(189, 176, 0);
}

/* VARIOS */
h1, h3{
    font-size: 16px;
}
h3, h1, h5, p{
    color: var(--secundario);
}
h3{
    margin-top: -10px;
}
#titulo{
    border-radius: 10px;
    border: 1px solid rgb(189, 176, 0);
    margin: 0px auto;
    text-align: center;
    width: 200px;
    padding: 5px 0px;
    color: var(--base);
    background-color: var(--secundario);
}
.mas{
    border-radius: 10px;
    border: 1px solid rgb(189, 176, 0);
    margin: 0px auto;
    text-align: center;
    padding: 5px 10px;
    color: var(--base);
    background-color: var(--secundario);
    text-decoration: none;
}

/* MODALES PRODUCTOS */
.prod-info{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #242424;
    width: 100%;
    height: 100%;
    display: none;
}
.popup{
    position: absolute;
    left: 25%;
    top: 10%;
    width: 600px;
    padding: 0px 0px 30px 0px;
    height: auto;
    box-shadow: 0px 0px 15px var(--fuerte);
    opacity: 0.9;
    border: 1px solid rgb(189, 176, 0);
    border-radius: 30px;
    background-color: #f6cb0f;
}
.cl{    
    right:  -250px;
    position: relative;  
}


/* ANIMACION */
  .burbujas div {
    position: absolute;
    z-index: -1;
    background: rgb(197, 157, 27);
    border-radius: 100%;
    bottom: 0;
    animation: animarburbujas 4s linear infinite;
}

.burbujas div:nth-child(1) {
    width: 50px;
    height: 45px;
    left: 40px;
    animation-duration: 4s;
}

.burbujas div:nth-child(2) {
    width: 60px;
    height: 55px;
    left: 25%;
    animation-duration: 8s;
}

.burbujas div:nth-child(3) {
    width: 30px;
    height: 27px;
    left: 40%;
    animation-duration: 5s;
}

.burbujas div:nth-child(4) {
    width: 65px;
    height: 60px;
    left: 50%;
    animation-duration: 10s;
}

.burbujas div:nth-child(5) {
    width: 55px;
    height: 50px;
    left: 65%;
    animation-duration: 6.5s;
}

.burbujas div:nth-child(6) {
    width: 50px;
    height: 48px;
    left: 85%;
    animation-duration: 9s;
}

.burbujas div:nth-child(7) {
    width: 35px;
    height: 32px;
    left: 90%;
    animation-duration: 6s;
}

/* FRAMES */
@keyframes animarburbujas {
    0% {
      width: 0;
      height: 0;
    }
    3% {
      width: 30px;
      height: 27px;
    }
    50% {
      margin-left: 20px;
      opacity: 0.5;
    }
    100% {
      transform: rotate(90deg);
      bottom: 100vh;
      background: rgb(197, 157, 27);
    }
}


